<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQTT Dashboard</title>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1>MQTT Dashboard</h1>
    <div id="mqtt-image">
        <h2>Latest Image:</h2>
        <img id="image" src="{{ image }}" alt="Latest MQTT Image"/>
    </div>
    <div id="mqtt-info">
        <h2>Frame Info:</h2>
        <p>Frame: <span id="frame">{{ frame }}</span></p>
        <p>Seconds: <span id="seconds">{{ seconds }}</span></p>
        <p>LOS: <span id="los">{{ los }}</span></p>
    </div>
</body>
</html>
